AddDefaultCharset UTF-8

RewriteEngine on
RewriteBase /

RewriteRule ^(.*)(\.htc|\.jpg|\.gif|\.jpeg|\.css|\.js|\.xml|\.xsl|\.png|\.html|\.htm|\.ico|\.swf)$ $1$2 [NC,L]
#RewriteRule ^notfound\/?$ notfound.html [NC,QSA,L]

RewriteRule ^getPhotos\/(.+)\/?.*$ getPhotos/index.php [NC,QSA,L]

SetOutputFilter DEFLATE
<IfModule mod_setenvif.c>
  SetEnvIfNoCase Request_URI \.(?:rar|zip)$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.(?:gif|jpg|png)$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.(?:avi|mov|mp4)$ no-gzip dont-vary
  SetEnvIfNoCase Request_URI \.mp3$ no-gzip dont-vary
</IfModule>