/* 
    Document   : style
    Created on : 14.05.2014, 15:26:03
    Author     : vsamoylov
    Description:
        Purpose of the stylesheet follows.
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #000;
}

body, div, p, img, form, menu {
	margin: 0; padding: 0;
}
body {
	width: 100%;
	height: 100%;
}
a {
	color: silver;
}
.asLink {
	cursor: pointer;
}
.nobr {
	white-space: nowrap;
}
.displayNone {
	display: none;
}
.logo30 {
	background: url("/img/logo/30x30.png") no-repeat 0 0 transparent; 
	width: 30px;
	height: 30px;
}

header.top {
	height: 49px;
	margin: 0; padding: 0;
	background: #333333;/*linear-gradient(to bottom, #999999, #000000); */
	border-bottom: 1px solid #454545;
}
.topItem {
    background-color: #707070;
    border-color: #757575 #5C5C5C #5C5C5C #757575;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #333333;
    border-radius: 2px;
    font-size: 12px;
    margin-top: 7px;
	margin-left: 7px;
    padding: 6px 10px;
	height: 30px;
	line-height: 18px;
	float: right;
}
.topItem:hover, header.top .topItem:active {
	background-color: #50C9A1;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #87B629;	
}
a.topItem {
	text-decoration: none;
}
.topItem.about {
	margin-right: 7px;
}
.topItem.logo30, .topItem.snicon {
	margin-top: 7px;
	margin-left: 7px;
	padding: 0;
	background-color: transparent;
	border: 0;
}
.topItem.logo30 {
	float: left;
	border-radius: 0;
	width: 30px;
	height: 30px;
}	
.topItem.snicon {
	width: 32px;
	height: 32px;
	border-radius: 3px;
}	
.topItem.withSubmenu {
	position: relative;
}
.topItem.submenuHeader {
	width: 100%;
}
.topItem.withSubmenu .submenu {
	display: none;
	left: 0;
	min-width: 100%;
    padding-top: 39px;
    position: absolute;
    text-align: left;
    top: -5px;
	z-index: 50;
}
.topItem.withSubmenu .submenu a, .topItem.withSubmenu .submenu span {
    background-color: #707070;
    border-color: #757575 #5C5C5C #5C5C5C #757575;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    display: block;
    padding: 4px 10px;
    text-shadow: 0 1px 0 #333333;	
}
.topItem.withSubmenu .submenu span {
	color: silver;
}
.topItem.withSubmenu .submenu a:hover {
	background-color: #50C9A1;
    border-color: #A0CF42 #87B629 #87B629 #A0CF42;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #87B629;
}

#step1Inside {
	margin: 0 10px;
}
#step1Inside p {
	font-size: 120%;
	line-height: 150%;
	margin-top: .5em;
}
#step1Inside h1 {
	font-size: 210%;
}
 
.puzzleCell {
	position: absolute;
}
#puzzle {
	position: absolute;
	width: 100%;
	top: 55px;
	bottom: 0;
	left: 0;
}

#cover {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.coverDark {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .5;
	background: black;
}
#coverText {
	text-align: center;
	position: absolute;
	top: 45%;
	left: 0;
	width: 100%;
	color: white;
	font-size: 300%;
}
#coverWnd {
    position: relative;

	background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 10px #000000;
    margin: 30px auto;
    max-width: 600px;
    padding: 3px;
    width: 90%;
}
#coverWndHeader {
	background: linear-gradient(to bottom, #A9A9A9, #7A7A7A);
	font-size: 18px;
    text-shadow: 0 1px 0 #333333;
    border-radius: 2px;
    margin-bottom: 0.5em;
    overflow: auto;
    padding: 6px 26px 9px 15px;
}
#coverWndInside {
	padding-top: 1em;
	color: black;
	/* text-align: center; */
	padding-bottom: 1.5em;
	padding-left: 15px;
}
#coverWnd i.closeWindow{
	position: absolute;
	right: 10px;
	top: 11px;
	font-style: normal;
	cursor: pointer;
	font-size: 150%;
}	

.albumPic {
	background: #222222;
    border: 3px solid #555555;
    color: #FFFFFF;
    margin-top: 2em;
    padding: 20px;
    text-align: center;
    width: 190px;
	cursor: pointer;
}
.albumData {
	padding: 15px 0 15px 45px;
}
.albumData img {
	margin: 1%;
}
#photos {
	margin: 0 10px;
}


.__icon {
    background-image: url("/img/small_icons.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}
.__icon.edit {
    background-position: 0 -550px;
}
.__icon.delete {
    background-position: 0 -650px;
}
.__icon.create {
    background-position: 0 -600px;
}
.__icon.info {
    background-position: 0 -850px;
}
.__icon.toggle {
    background-position: 0 -750px;
}
.opened .__icon.toggle {
    background-position: 0 -800px;
}
.__icon.new, .icon.reopen {
    background-position: 0 -900px;
}
.__icon.lay {
    background-position: 0 -100px;
}
.__icon.discuss {
    background-position: 0 -200px;
}
.__icon.inwork {
    background-position: 0 -50px;
}
.__icon.appoint {
    background-position: 0 0;
}
.__icon.check_up, .__icon.author_check {
    background-position: 0 -150px;
}
.__icon.cancel {
    background-position: 0 -250px;
}
.__icon.closed, .__icon.complete {
    background-position: 0 -300px;
}
.__icon.ready {
    background-position: 0 -1400px;
}
.__icon.express {
    background-position: 0 -350px;
}
.__icon.important {
    background-position: 0 -400px;
}
.__icon.current {
    background-position: 0 -450px;
}
.__icon.possible {
    background-position: 0 -500px;
}
.__icon.parent {
    background-position: 0 -700px;
}
.__icon.closeWindow {
    background-position: 0 -1150px;
}
.__icon.favorite {
    background-position: 0 -950px;
}
.__icon.nfavorite {
    background-position: 0 -1000px;
}
.__icon.subscribed {
    background-position: 0 -1050px;
}
.__icon.nsubscribed {
    background-position: 0 -1100px;
}
.__icon.info.autofill {
    margin-left: 0.5em;
    vertical-align: top;
}

.snicon {
    background: url("/img/socials_big.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 32px;
    height: 32px;
    vertical-align: middle;
    display: inline-block;
	border-radius: 3px;
}
.snicon.fb {
    background-position: 0 0;
}
.snicon.vk {
    background-position: -32px 0;
}
.snicon.tw {
    background-position: -64px 0;
}
.snicon.gg {
    background-position: -96px 0;
}
.snicon.mr {
    background-position: -128px 0;
}
.snicon.ok {
    background-position: -160px 0;
}

#sharingContainer .snicon {
	margin-right: 9px;
    margin-top: 5px;
}	


/*-----------------------*/
.select-block{
	margin-bottom: 40px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.col-xs-4,
.col-md-4,
.col-xs-5,
.col-xs-2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-5, .col-xs-4, .col-xs-2{
	float: left;
}
.col-xs-5 {
	width: 41.66666667%;
}
.col-xs-4{
	width: 33.33333333%;
}
.col-xs-2 {
	width: 16.66666667%;
}

a{
	color: #50c9a1;
	text-decoration: none;
}
a:hover{
	color: #1ca58a;
}
h2{
	font-weight: normal;
	line-height: 1.3;
	font-size: 18px;
}
.text-center{
	text-align: center;
}
.nobr input{
	float: left;
	height: 28px;
}
.url-input{
	width: 70%;
	margin-right: 5%;
	border: none;
	padding: 5px 10px;
}
.btn{
	background: #50c9a1;
	border: none;
	color: #fff;
	padding: 5px 10px;
	width: 25%;
	cursor: pointer;
}
.btn:active{
	background: #1ca58a;
}
.img-responsive, #yfdExamplePlace img {
  display: block;
  max-width: 100%;
  height: auto;
}
.example-block{
	margin-bottom: 40px;
}
.arrow-block img{
	margin: 100% auto 0;
}
.inner-block{
	background: #222;
	padding: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.inner-block h2{
	margin-top: 0;
}
.snicon{
	margin: 0 5px;
}


.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .col-md-4{
    float: left;
  }
  .col-md-4{
	width: 33.33333333%;
  }
  .inner-block{
	min-height: 160px;
  }
}
@media (max-width: 767px) {
 .xs-hidden{
  display: none;
 }
}