<!-- script type='application/json' src='http://api-fotki.yandex.ru/api/podhistory/'></script -->	
<div id='photos'></div>
<script>
	
	/**
	 * формирует и посылает jsonp запрос
	 */
	function jsonp(_src) {
		var s = document.getElementsByTagName('script')[0], n = document.createElement('script');
		n.type = 'text/javascript';
		n.async = true;
		n.src = _src;
		s.parentNode.insertBefore(n, s);
	}	

	function showYfd(_data) {
		if (!_data.entries ||!_data.entries.length) {
			throw new Error('Не удалось получить фото');
		}
		var str = '';
		_data.entries.forEach(function(_el){
			str += makeLinkToPhuzzle(_el.img.XXXL.href, '<img src="' + _el.img.S.href + '" title="' + _el.title + '">');
		});
		$('#photos').html('<div class="albumData">' + str + '</div>');
	}

	jsonp('http://api-fotki.yandex.ru/api/podhistory/?format=json&callback=showYfd');
</script>	